.main {
  position:initial;
  top: 10px;
  height: 580px;
  width: 980px;
  border-radius: 30px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 10px silver;
}

.inner-main {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}








